.wrapper{
    margin: 0 auto;
}

table, td,th{
    border: 1px solid #0D1321;
    border-collapse: collapse;


}
th {
    background-color: #F5DEB3;
    padding: 5px;
    font-style: italic;
}

td {
    text-align: center;
    background-color:#F5DEB3;
    padding: 5px;

}

.ymax {
    background-color: red;
}
.xmax{
    background-color: #F5DEB3;
}

.underscore {
    text-decoration: overline;
}

.variant {
    font-size: 8px;
}
section{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;

}